<div class="list">
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
        </li>
        <li class = "nav-item">
            <a (click)="navigateToCreateEmployee()" class="nav-link">Add Employee</a>
        </li>
    </ul>
    <button class="btn btn-outline-light ms-auto" id="logout" (click)="logout()">Logout</button>
  </nav>
  
</div>

<table class = "table table-striped">
  <thead>
      <tr>
          <th> First Name</th>
          <th> Last Name </th>
          <th> Email Id</th>
          <th> Actions </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let employee of employees" >
          <td> {{ employee.firstName }} </td>
          <td> {{ employee.lastName }} </td>
          <td> {{ employee.emailId }} </td>
          <td>
              <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>
              <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
              <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
          </td>
      </tr>
  </tbody>
</table>

